/* Google fonts import  specify families font-family: 'Lato',
sans-serif;
font-family: 'Oswald',
sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600&display=swap');

/* wildcard selector (applies for element on the page) */
/* Asterisk wildcard selector to override default styles add ny brower*/
* {
    padding: 0;
    margin: 0;
    /* box-sizing property for all elements (later set width or height
    to an element will applied to the entire elemnt */
    box-sizing: border-box;

}

/* General styles -body */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic style (text) */
    color: #3a3a3a;
    font-family: 'Lato',
        sans-serif;

}






/* styling A under the header */





/* style the H1 in the header */


/* styling the menu under the head line i */











main {
    background-color: green;

    /* main take up the space */
    flex: 1 0 auto;

    color: white;




}

footer {
    background-color: rgb(182, 141, 94);
}



/* media query tablet and larger  (768px and up ) */
@media screen and (min-width:768px) {}