/* Google fonts import  specify families font-family: 'Lato',
sans-serif;
font-family: 'Oswald',
sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600&display=swap');

/* wildcard selector (applies for element on the page) */
/* Asterisk wildcard selector to override default styles add ny brower*/
* {
    padding: 0;
    margin: 0;
    /* box-sizing property for all elements (later set width or height
    to an element will applied to the entire elemnt */
    box-sizing: border-box;

}

/* header and h1 */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    font-weight: bolder;




}

header a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;


    letter-spacing: 3px;
}

h1 {
    font-family: 'Lato',
        sans-serif;
}

#logo {
    font-size: 1.5rem;

    color: #3a3a3a;
    letter-spacing: 3px;
    text-transform: uppercase;




}



/* General styles -body */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic style (text) */
    color: #3a3a3a;
    font-family: 'Lato',
        sans-serif;

}

/* class need for text */

.text-cnter {
    text-align: center;
}

.text-left {
    text-align: left;
}

nav {
    margin-bottom: 30px;

}













/* styling the menu under the head line i */



#menu {
    list-style-type: none;
}











main {
    background-color: green;

    /* main take up the space */
    flex: 1 0 auto;

    color: white;




}

footer {
    background-color: rgb(182, 141, 94);
}



/* media query tablet and larger  (980px and up ) */
@media screen and (min-width:980px) {

    #nav ul,
    #header {
        display: flex;
        row-gap: 20px;




    }

    li {
        margin-right: 30px;

    }

    nav {
        height: 40px;

    }

    #logo {
        flex-grow: 1;

    }





    /* header row */

}