/* Google fonts import  specify families font-family: 'Lato',
sans-serif;
font-family: 'Oswald',
sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600&display=swap');


/* wildcard selector (applies for element on the page) */
/* Asterisk wildcard selector to override default styles add ny brower*/
* {
    padding: 0;
    margin: 0;
    /* box-sizing property for all elements (later set width or height
    to an element will applied to the entire elemnt */
    box-sizing: border-box;

}

/* header and h1 */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    font-weight: bolder;
    position: fixed;




}

header a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;


    letter-spacing: 3px;

}

h1,
h2 {
    font-family: 'Lato',
        sans-serif;
    color: rgb(117, 49, 0);
    ;
    letter-spacing: 3px;
    word-spacing: 4px;
    margin-bottom: 10px;

}

#logo {
    font-size: 1.5rem;

    color: #3a3a3a;
    letter-spacing: 3px;
    text-transform: uppercase;




}



/* General styles -body */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic style (text) */
    color: #3a3a3a;
    font-family: 'Lato',
        sans-serif;

}

/* class need for text */

.text-cnter {
    text-align: center;
}

.text-left {
    text-align: left;
}

nav {
    margin-bottom: 15px;




}













/* styling the menu under the head line i */



#menu {
    list-style-type: none;


}











main {


    /* main take up the space */
    margin-top: 80px;
    flex: 1 0 auto;

    color: white;




}

/* picture and h2 p in section 1 */
#firsts {
    display: flex;

    flex-direction: column;
}

#firsts img {
    width: 275px;
    height: 300px;
    padding: 15px 5px;



}

#firsts p {
    color: black;
    font-family: 'Lato',
        sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 10px;
}

#cbh2 {
    color: rgb(219, 126, 5);
    word-spacing: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    padding: 10px 10px;
}

/* section about us */

#about-ussec {
    background-color: burlywood;
}

.middle-c {
    color: rgb(117, 49, 0);
    font-size: 20px;
    letter-spacing: 3px;
    padding: 10px 10px;
    margin-top: 20px;
}

/* what we offer list */

#we-offer {
    padding: 10px 10px;
    margin-left: 10px;
    color: black;
    letter-spacing: 3px;
}

#we-offer h5 {
    font-size: 20px;
    margin-bottom: 15px;

}

#we-offer li {
    margin-left: 20px;
}

footer {
    background-color: burlywood;
    margin-top: 20px;

}

.foot-div {
    margin-top: 20px;
    letter-spacing: 3px;
    word-spacing: 4px;
    padding: 10px 10px;
    color: black;
}

.foot-div>h2 {
    color: black;

}

footer>div>h3 {
    margin-top: 20px;
}

footer>div>p {
    margin-top: 20px;
}

#social-media {

    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0;
    margin-top: 20px;

}

/* the font awsome icon */
#social-media i {
    font-size: 160%;
    padding: 5%;
    color: black;

}

/* media query tablet and larger  (980px and up ) */
@media screen and (min-width:980px) {

    #nav ul,
    #header {
        display: flex;
        row-gap: 20px;




    }

    li {
        margin-right: 30px;

    }

    nav {
        height: 40px;

    }

    #logo {
        flex-grow: 1;

    }

    /* first section for media */

    #firsts {
        flex-direction: row;
        justify-content: space-around;

    }

    #firsts img {
        width: 80%;
        height: 80%;
        padding-left: 20px;
        flex: 1 auto;

    }




    /* header row */

}